<div class="div_menu">
    <button type="button" class="btn btn-outline-dark"><a href="/" style="float:right;" >HOME</a></button>
    <button type="button" class="btn btn-outline-success"><a href="/books" style="float:right;" >도서검색</a></button> 
    <button type="button" class="btn btn-outline-warning"><a href="/movies" style="float:right;" >영화검색</a></button>
    <button type="button" class="btn btn-outline-info"><a href="/shop" style="float:right;" >상품검색</a></button>
    <button type="button" class="btn btn-outline-danger"><a href="/bbs" style="float:right;" >게시판</a></button>
    <button type="button" class="btn btn-outline-dark"><a href="/todos" style="float:right;" >할일목록</a></button>
    <hr class="hr_line">
</div>